body {
  font: normal 10px "mozTT", sans-serif;
  background-image: url(../img/fondo-rec.png);
}

.click {
  	position: absolute;
	left: 35%;
	top: 45%;	
}

.tablepostfooter {
  	margin: 0 auto;
	border:none;
	width: 100%;
}

.tablapostfooter td {
	text-align: center; 
	vertical-align: top;
}

h1 {
	position: relative;
	font: normal 10px "mozTT", Georgia;
	font-style: oblique;
    font-weight: normal;
    font-size: 3.5rem;
    padding: 0.25rem 0 0.6rem;
    text-align: center;
    width: 100%;
	background-color:transparent;
	color:#F30;
}

h1 span {
    color:#000;
	font-style:italic;
	font-size: 3.5rem;
}

span.I {
	color: #F00;
	position: absolute; 
    top:130px;
	left:50px; 
}

span.m {
	color:#F0F;
	position: absolute; 
    top:130px;
	left:75px; 
}

span.a {
	color:#00F;
	position: absolute; 
    top:130px;
	left:130px; 
}

span.g {
	color:#0F0;
	position: absolute; 
    top:130px;
	left:170px; 
}

span.e {
	color:#FF0;
	position: absolute; 
    top:130px;
	left:210px; 
}

span.s {
	color:#F60;
	position: absolute; 
    top:130px;
	left:240px; 
}

#image-presenter {
    display: none;
    margin-bottom: 10px;
}

#popupPanel-popup {
    right: 0 !important;
    left: auto !important;
}
#popupPanel {
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#popupPanel .ui-btn {
    margin: 2em 15px;
}

/*
#btnDelete{ 
float:left;    /*tambien puede poner float:right, para que se alineé a la derecha 
padding:10px; 
color:#fff; 
width:300px; 
margin:40px; 
background:#039; 
display:inline-block;
} 

#btnSave{ 
float:right;       /*tambien puede poner float:right, para que se alineé a la derecha 
padding:10px; 
color:#fff; 
width:300px; 
margin:40px; 
background:#039; 
display:inline-block;
} 

*/

