/* ----------------------------------
 * Confirmacion
 * ---------------------------------- */

/* Main dialog setup */
form[role="dialog"][data-type="confirm"] {
  background:
    url(../images/pattern.png) repeat left top,
	url(../images/gradient.png) no-repeat left top / 100% 100%;
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 7rem;
  font-size: 0;
  /* Using font-size: 0; we avoid the unwanted visual space (about 3px)
  created by white-spaces and break lines in the code betewen inline-block elements */
  color: #fff;
  text-align: left;
}

form[role="dialog"][data-type="confirm"]:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0.1rem;
  height: 100%;
  margin-left: -0.1rem;
}

form[role="dialog"][data-type="confirm"] > section {
  font-weight: lighter;
  font-size: 2.2rem;
  color: #FAFAFA;
  padding: 0 1.5rem;
  -moz-box-sizing: padding-box;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  max-height: 100%;
  vertical-align: middle;
  white-space: normal;
}

form[role="dialog"][data-type="confirm"] h1 {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5em;
  color: #fff;
  margin: 0;
  padding: 0 1.5rem;
  text-align: left;
}

/* Menu & buttons setup */
form[role="dialog"][data-type="confirm"] menu {
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  border-top: solid 0.1rem rgba(255, 255, 255, 0.1);
  background: #2d2d2d url(../images/pattern.png) repeat left top;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Specific component code */
form[role="dialog"][data-type="confirm"] p {
  word-wrap: break-word;
  margin: 1rem 0 0;
  padding: 1rem 1rem;
  border-top: 0.1rem solid #686868;
  line-height: 2rem;
  font-size: 1.4rem;
}