/* ----------------------------------
* Seekbars
* ---------------------------------- */

h2.bb-docs {
      font-size: 1rem;
      font: normal 16px "mozTT", Georgia;
	  font-weight:normal;
	  text-align:center;
      color:#CCC;
	  border-bottom:ridge 1px #e8e8e8;
	  
}